.nav {
  background: #c043c0;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.5);
}

.nav:hover {
  background: #e04d4dc4;
}
.small {
  background: transparent;
  border: 1px solid;
  border: 2px solid #0000006e;
  border-radius: 15px;
  width: 5vw;
  height: 3vh;
}
.small:hover {
  background: #67b1e2c4;
}
