.welcome-page__content {
  margin: auto;
  text-align: center;
}
.welcome-page__content h2 {
  font-size: 6rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 1rem 2rem;
}
.welcome-page__content button {
  font-size: 1.25rem;
  padding: 2rem;
  border: none;
  border-radius: 50px;
  color: white;
  background: rgb(124, 63, 165);
}
.welcome-page__content button:hover {
  cursor: pointer;
}
